DATABASE_URL="postgresql://postgres:postgres@localhost:5432/salao"
NEXT_PUBLIC_API_URL="/backend"
API_URL="http://127.0.0.1:3333"
NEXT_PUBLIC_DEFAULT_BUSINESS_ID="default-business"
NEXTAUTH_SECRET=uma_senha_secreta_segura
NEXTAUTH_URL="https://SEU-FRONTEND.ngrok-free.app"
